
body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    
    padding: 0;
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-areas:  
     "header"
     "sidebar"
     "content"
     "footer";
    grid-template-columns: 1fr;
    grid-template-rows:  70px auto auto 60px;
    min-height: 100vh;
    background-color: #ddd;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .container {
      grid-template-areas:  
        "header header"
        "sidebar content"
        "footer footer";
     grid-template-columns:  0.8fr 3.2fr;
      grid-template-rows:  70px 1fr 60px;
    }
}
@media (min-width: 1024px){
    .container {
        grid-template-columns: 0.5fr 3.5fr;
    }
}
.box {
    background-color: #4caf50;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.header
{
    display: flex;
    justify-content:space-between;
    grid-area: header ;
    background-color:#8dec9f;
    position: sticky;
    top: 0;
    width: 100%;
    gap: 2rem;
    
    
   
}
.logo {
    height: 100%;
    max-height:  70px; 
    width: 70px;
    background-color: #8dec9f;
  }
.sidebar
{
    
    grid-area: sidebar;
    color: #10130e;
    background-color:rgb(145, 244, 166);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 9px;
    
}
.content
{
    grid-area: content;
    background-color: #e1f4d5;
    color: #10130e;
    overflow-y: auto; 
    margin-top: 10px;
    
    
}
.footer
{
    grid-area: footer;
    background-color: #8dec9f;
    color: #10130e;
}
#navbar
{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #2E6E4E;
    font-weight: 2rem;
}
#card{
    display:flex;
    margin-top: 0;
    border: 2px solid #0c0b0b;
    background-color: #3fe98b;

    border: 2px solid #91f4a6;
    


}
h1{
    color: #2E6E4E;
}
.para1
{
    border: 2px solid darkgreen;
    border-radius: 50px;
}
.pfp{
    background-image: url(ali.png);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    margin: 1rem;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.follow{
    display: flex;
    gap: 1rem;
}


