*{
    padding: none;
    margin: 0px;
    color: white;
}
#logo{
    color: #f08804;
}
#navbar{
    background-color: black;
    height: 60px;
    width: 10000px;
    position: fixed;
    top: 0px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 190px;
    text-decoration: none;
    color: beige;
}
body
{
   
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    overflow-x: hidden;
}
h1{
    color: beige;
}

#para1
{
   
    margin-top: 0px;
    background-color: none;
    text-indent: 20px;

}
#para2
{
   text-indent: 20px;
}
img{
    border-radius: 50%;
}
#first_heading{
    margin-top: 70px;
}
time
{
    margin-right: 0px;
}



#card{
    display:flex;
    margin-top: 2rem;
    border: 2px solid #fff;
}
.pfp{
    background-image: url(ali.jpeg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    margin: 1rem;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.follow{
    display: flex;
    gap: 1rem;
}

footer {
    height: 60px;
    background-color: black;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding:5px;
    margin-top: 10px;
}
